<% layout('layouts/boilerplate')%>

    <section class="container-fluid p-0">
        <div class="row">

            <% for (let gmgame of gmgames) { %>
                <div class="card col-lg-6 px-0 align-items-center">
                    <img class="img-fluid" src="/<%= gmgame.image %>" class="card-img-top" alt="...">
                    <div class="card-body col-10 col-lg-8 text-center">
                        <h5 class="card-title">
                            <%= gmgame.title %>
                        </h5>
                        <p class="card-text">
                            <%= gmgame.description %>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush align-items-center text-center">
                        <li class="list-group-item">
                            <%= gmgame.players %>
                        </li>
                        <li class="list-group-item">
                            <%= gmgame.playtime%>
                        </li>
                        <li class="list-group-item">
                            <%= gmgame.category%>
                        </li>
                        <li class="list-group-item">
                            <%= gmgame.age%>
                        </li>
                        <li class="list-group-item">
                            Designer: <%= gmgame.designer%><br>
                                Artist: <%= gmgame.artist%>
                        </li>
                    </ul>

                    <div class="card-body">
                        <button class="btn btn-primary"><a href="/games/<%= gmgame._id%>"
                                class="card-link">Buy</a></button>
                        <button class="btn btn-primary"></buttonclass><a href="/games/<%= gmgame._id%>"
                                class="card-link">Learn
                                More</a></button>
                    </div>
                </div>
                <% }%>
        </div>
    </section>